@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-color:#111;
}

.custom_nav{
    padding: 35px 0;
}

/* .custom_nav .logo>span{
    text-transform: uppercase;
    color: blue;
}

.custom_nav .logo{
    color: blueviolet;
    font-weight: 1000;
    font-size: 25px;
    transition: .5s all eases;
}

.custom_nav .logo:hover{
    color: aqua;
}

.custom_nav .logo>span:hover{
    color: rgb(217, 255, 0);
} */

.custom_nav>a {
    text-transform: uppercase;
    color: var(--primary-color);
    transition: .5s all ease;
    font-weight: 700;
}

.custom_nav>a:hover{
    color: blue !important;
    transform: scale(1.2);
}

#navbarnav .nav-link{
    color: var(--primary-color);
    padding: 6px 25px;
    transition: .5s all ease;
    text-transform: uppercase;
}

#navbarnav .nav-link:hover{
    color: rgb(6, 141, 24);
    box-shadow: 1px 1px 2px #6854;
    transform: scale(1.1);
}

.page-text h2{
    display: inline-block;
    color: var(--primary-color);
    font-size: 60px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    animation-delay: .3s;
    animation-duration: 1S;
    
}

.page-text h2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(7, 211, 24);
    z-index: -1;
    transition: .5s all cubic-bezier(0.51, 1.35, 0.51, 1.35);
}

.page-text h2:hover::before{
    left: 50%;
}

.page-text p{
    color: var(--primary-color);
    font-size: 15px;
    text-align: justify;
    padding: 35px 0;
    animation-delay: .3s;
    animation-duration: 1S;
    
}

.page-text a.search-btn{
    display: inline-block;
    padding: 7px 30px;
    background: rgb(50, 230, 14);
    border: 2px solid transparent;
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 25px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    transition: .5s all ease-in;
    animation-delay: .9s;
    animation-duration: 1S;


}


.page-text a.search-btn:hover{
    background: none;
    border: 2px solid rgb(50, 230, 14) ;
    color: rgb(30, 143, 7);
}

.social-media{
    margin-top: 60px;
    margin-bottom: 30px;
    animation-delay: .5s;
    

}
.social-media a{
    color: var(--primary-color);
    margin-right: 15px;
}


.custom-section .banner{
    animation-delay: .3s;
    animation-duration: 1S;
}

@media screen and (max-width: 991.98px) {
    .page-text h2{
        font-size: 48px;
    }
}   


@media screen and (max-width: 767.98px) {
    .custom-section{
        flex-direction: column-reverse;
    }
    .banner{
        margin-bottom: 50px;
    }
} 


@media screen and (max-width: 440px) {
    .page-text h2{
        font-size: 32px;
    }
}  
